<div class="carousel">
  <div class="carousel-container">
    <div class="carousel-wrapper">
      <div class="items-container" #itemsContainer>
        <div class="item" *ngFor="let item of items">
          <div class="text">{{item.text}}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="button-area">
    <button type="button" class="prev" appPrev>Prev</button>
    <button type="button" class="next" appNext>Next</button>
  </div>
  <div class="dots-area">
    <div class="dot" *ngFor="let item of items" [ngClass]="{'active': currentIndex === item.id}"></div>
  </div>
</div>
